[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.11.0"
django-rest-knox = "==4.1.0"
django = "==3.0.5"

[dev-packages]

[requires]
python_version = "3.8"
